*{
	margin: 0;
	padding: 0;
}

body{
	font-family: sans-serif;
	font-size: 16px;
  width: 80%;
	margin: 0 auto;
}

h4{
	margin-bottom: 10px;
}

/*	heading	*/

.heading{
	margin: 30px auto;
}

/*	info	*/

.info{
	margin-bottom: 10px;
  display: flex;
}
.photo{
	margin-bottom: 0;
}
.main-info{
  margin-left: 20px;
	display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.name{
  display: inline-flex;
}
.name h4{
  margin-right: 5px;
  margin-bottom: 0;
}
.gitlink{
	color: black;
  margin: 10px 0;
	font-weight: 600;
}
.gitlink:hover{
  text-decoration: none;
}
.exp{
  display: inline-flex;
}
.exp h4{
  margin-right: 5px;
  margin-bottom: 0;
}
.interview-date{
  display: inline-flex;
  align-items: baseline;
  margin: 10px 0;
}
.interview-date input{
  margin-left: 10px;
}

/*	skills	*/

.skills{
	margin-bottom: 50px;
}
.english{
  margin: 10px 0;
	line-height: 20px;
}
.english label{
	margin-right: 20px;
}
.key-skills{
  margin: 20px 0;
}
.key-skills li{
	margin-bottom: 10px;
  color: black;
	list-style: square;
}
 .key-skills li::after{
  content: '×';
  margin-left: 2px;
  display: none;
}
 .key-skills li:hover{
  color: black;
}
 .key-skills li:hover::after{
  display: inline;
} 
.key-skills button{
	margin-left: 15px;
	box-shadow: 2px 2px 2px;
}
.communication{
	margin: 10px 0;
  display: flex;
  align-items: baseline;
}
.communication select{
	margin-left: 15px;
}
.wage{
  display: flex;
  align-items: baseline;
}
.wage input{
	margin-left: 10px;
}
.wage select{
	margin-left: 10px;
}
.check{
	line-height: 35px;
	margin-bottom: 10px;
}
.check h4{
  margin-bottom: 0;
}
.check label{
	margin-right: 20px;
}

/*	table	*/

.tab p{
	margin-bottom: 20px;
}
table{
	border: 1px solid black;
	border-collapse: collapse;
	width: 70%;
}
th,
tr,
td{
	border: 1px solid black;
}
tr{
	height: 30px;
}
td{
	padding: 0 5px;
}
td:first-child{
		text-align: center;
}

@media screen and (max-width: 800px){
  .info{
    flex-direction: column;
  }
  .photo{
    width: 100%;
    margin-bottom: 10px;
  }
  .main-info{
    margin-left: 0;
  }
  .english{
    display: flex;
    flex-direction: column;
  }
  .english label{
    margin: 5px 0 ;
  }
  .communication{
    display: flex;
    flex-direction: column;
  }
  .communication select{
    margin-left: 0;
    margin-bottom: 5px;
  }
  .check{
    display: flex;
    flex-direction: column;
  }
  table{
    width: 100%;
  }
}